.image-logo{
    width: 50px;
    filter: brightness(0) invert(1);
}


#navbar{
    background-color: rgb(123,104,238);
    opacity: 95%;
}

#submit-button{
    background-color: rgb(123,104,238);
    color: white;
    opacity: 95%
}

#hero-image{
    height: auto;
    width: 100%;
    margin-bottom: 0;
}

#welcome-text{
    margin-top: 0;
}

#img-gallery {
    margin-top: 15px;
    width: 100%;
    height: 200px;
    max-height: 200px;
}

#subscribe-link{
    text-decoration: none;
}

 a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(169,169,169);
    text-align: center;
}



/*-----------------------------------Media Queries-----------------------------------*/


@media (max-width: 576px) {
        #welcome{
        font-size: xx-large;
    }
}