.image-logo{
    width: 50px;
    filter: brightness(0) invert(1);
}

#navbar{
    background-color: rgb(154, 124, 182);
}

#submit-button{
    background-color: rgb(154, 124, 182);
    color: white;
}

#hero-image{
    height: auto;
    width: 100%;
    margin-bottom: 0;
}

#welcome-text{
    margin-top: 0;
}

#img-gallery {
    margin-top: 15px;
    width: 100%;
    height: 200px;
    max-height: 200px;
}

#subscribe-link{
    text-decoration: none;
}

/* footer */


/* responsiveness */


@media (max-width: 576px) {
        #welcome{
        font-size: xx-large;
    }
        #welcome-text{
        margin-top: 0;
    }
}